body {
  padding-top: 50px;
}

.actions > .btn-group,.btn-group-lg>.btn, .btn-lg{
  border-radius: 200px;
}


.actions > .btn-group,.btn-group-lg>.btn, .btn-lg:hover{
  box-shadow: 0px 5px 5px gray;
}
