body{
    font-family: 'Droid Sans', sans-serif;
    height:100%;
}



@keyframes changebg{
    from{ background-color:#FFD238;}
    to{ background-color:#388FFF;color:#F3EFE0}
}


.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand{
    margin-left: 35px;
}


.navbar-default{
    opacity:0.8;
    background-color:black;
}


.navbar-default .navbar-brand{
    color:#F3EFE0;
}

.navbar-default .navbar-nav > li > a{
    color: #F3EFE0;
}

.navbar-default .navbar-nav > li > a:hover{
    color: #65AD42;
}

.jumbotron-cus{
    background-color:#316916;
    color:white;
    box-shadow: 0px 5px 10px #333;
}

a{
    color:black;
}

a:hover {
    color:black;
}

a:active{
    color:black;
}

.page-header{
    border-bottom:1px solid #434E3D;
}


.section{
    height:100%;
    min-height:100%;
}

.img-responsive{
    margin-left:auto;
    margin-right:auto;
}


.footer {
    position: absolute;
    align: center;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
}


.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #316916;
  color: #e8ffff;
}



.text-success{
   color: #1B531C;
   border-bottom: black;
   
   }

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #544141;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index:1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: black;
    color: white;
    opacity: 0.8;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: white;
}

.nav-sidebar > li > a:hover {
    background-color: #316916;
    color: whitesmoke;
}

.nav-sidebar > li > a:focus{
    color:whitesmoke;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: white;
  background-color: #65AD42;
}


.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

