{% extends 'base.html' %}

{% block content %}

{% if state == 0 %}
<div class="container-fluid">
  <div align=center class="col col-sm-offset-3 col-sm-6">
  <div class="well">
    <h1>{{ book.title|title }}</h1>
    <h4>written by {{ book.get_authors|title }}</h4>
    <h4> with Accession Number {{ book.accession_number }} </h4>
    <a href="{% url 'book' book.accession_number %}">more info</a>
  </div> <!-- jumbotron -->
  </div>
  
</div><!-- container -->

<div align=center>
  <h3>Are You Sure You Want To discard this Book?</h3>
  <a class="btn btn-danger" href="{% url 'delete_book' book.get_accession_number %}">Discard Book</a>
</div>

{% elif state == -1 %}

<div class="alert alert-warning">{{ message }}</div>

{% endif %}

{% endblock %}
