
{% extends 'base.html' %}
{% load group_filters %}
{% load static %}

{% block css %}
<link href="{% static 'css/almsGroups/styles.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<h3> <span class="text-primary">TOMB</span> - <span class="text-primary">T</span>ools <span class="text-primary">T</span>o <span class="text-primary">M</span>anage <span class="text-primary">B</span>ooks </h3>

<table class="table table-striped">
  <thead>
    <td>{{ globals.text.description }}</td>
    <td>{{ globals.text.information }}</td>
  </thead>
  <tbody>
  <tr>
    <td>
      <label> {{ globals.text.get_all_books_in_spreadsheet_format }} (.xls)</label>
    </td>
    <td>
      <a href="{% url 'spreadsheetGetAllBookData'%}" class="btn btn-primary">{{ globals.text.get_all_books_data }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>{{ globals.text.get_books_without_call_number_in_spreadsheet_format }} (.xls)</label>
    </td>
    <td>
      <a href="{% url 'spreadsheetBooksWithoutCallNumber' %}" class="btn btn-primary">{{ globals.text.get_books_without_call_number_data }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>{{ globals.text.get_borrowed_books_in_spreadsheet_format }} (.xls)</label>
    </td>
    <td>
      <a href="{% url 'spreadsheetGetBorrowedBookData' %}" class="btn btn-primary">{{ globals.text.get_borrowed_books_data }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>{{ globals.text.get_books_accesioned_this_week_in_spreadsheet_format }} (.xls)</label>
    </td>
    <td>
      <a href="" class="btn btn-primary">{{ globals.text.get_books_accessioned_this_weeks_data }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>{{globals.text.get_all_publishers_data_in_spreadsheet_format}} (.xls)</label>
    </td>
    <td>
      <a href="{% url 'spreadsheetGetAllPublisherData' %}" class="btn btn-primary">{{ globals.text.get_all_publishers_data }}</a>
    </td>
  </tr>
  <tr>
    <td>
      <label>{{ globals.text.get_all_authors_data_in_spreadsheet_format }} (.xls)</label>
    </td>
    <td>
      <a href="{% url 'spreadsheetGetAllAuthorData' %}" class="btn btn-primary">{{ globals.text.get_all_authors_data }}</a>
    </td>
  </tr>
  </tbody>
</table>
{% endblock %}
