.label{
  padding: .1em .6em .1em;
}

.well:hover{
  background: #fff;
}

.group_delete_link{
  color: #bbb;
}

.group_delete_link:hover{
  color: red;
}


.group_edit_link{
  color: #bbb;
}

.group_edit_link:hover{
  color: orange;
}
